@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(http://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz_79_ZuUxCigM2DespTnFaw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(http://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Marker';
  font-style: normal;
  font-weight: 400;
  src: local("Permanent Marker"), local("PermanentMarker"), url(http://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMio-5Z6V1O0VBgfXWFfbB4c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.75rem; }

h6 {
  font-size: 1.35rem; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.light {
  font-weight: light; }

.amaze {
  font-family: 'Marker'; }

.underline {
  text-decoration: underline; }

.gigantic {
  margin-top: 10px;
  font-size: 4rem; }
  @media (max-width: 1000px) {
    .gigantic {
      font-size: 5rem; } }
  @media (max-width: 660px) {
    .gigantic {
      font-size: 3rem; } }

html,
body {
  height: 100%; }

body {
  background-color: #0074D9;
  color: #fff;
  font-family: 'Roboto Mono', monospace; }

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 15px; }

.js-start {
  cursor: pointer; }
  @media (max-width: 660px) {
    .js-start {
      margin-bottom: -10px; } }

.shwag {
  position: absolute;
  top: 0;
  left: 0;
  margin: 21px 0 0 15px; }

.content {
  position: relative;
  margin: 60px auto 40px;
  height: 400px;
  width: 100%;
  padding: 20px;
  border: 3px solid rgba(255, 255, 255, 0.9);
  font-size: 2.4rem;
  border-radius: 2px; }
  @media (max-width: 660px) {
    .content {
      font-size: 1.4rem;
      height: 200px;
      margin-bottom: 40px; } }
  .content div {
    margin-left: 40px; }

.heart {
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out; }
  .heart:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
